{% extends 'base.html.twig' %}

{% block title %}Lista Kategorii{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{{ path('wallet_index') }}" class="btn btn-secondary">
           < Wróć
        </a>
        <h1 class="mb-0">Wszystkie kategorie</h1>
        <a href="{{ path('add_category') }}" class="btn btn-primary">
            + kategorie
        </a>
    </div>

    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination,'Nazwa kategorii','category.name') }}</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        {% if is_granted('EDIT', category) %}
                            <a href="{{ path('edit_category', {'id': category.id}) }}" class="btn btn-sm btn-secondary">Edytuj</a>
                        {% endif %}
                        {% if is_granted('DELETE') %}
                            <a href="{{ path('delete_category', {'id': category.id}) }}" class="btn btn-sm btn-danger">Usuń</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <div class="alert alert-info">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}
{% endblock %}
