{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.operation_delete'|trans }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'title.operation_delete'|trans }}</h1>

        <div class="alert alert-warning">
            <p>Czy na pewno chcesz bezpowrotnie usunąć tę operację?</p>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-group mt-3">
            <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-danger"/>

            <a href="{{ path('wallet_view', {'id': wallet.id}) }}" class="btn btn-secondary">
                Przerwij
            </a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
