{% extends 'base.html.twig' %}

{% block title %}Lista portfeli{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Twoje portfele</h1>
        <a href="{{ path('category_index') }}" class="btn btn-secondary">
            Przejdź do kategorii
        </a>
        <a href="{{ path('add_wallet') }}" class="btn btn-primary">
            + Dodaj portfel
        </a>
    </div>

    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination,'Nazwa','wallet.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'Saldo','wallet.balance') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'Waluta','wallet.currency') }}</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for wallet in pagination.items %}
                <tr>
                    <td>{{ wallet.name }}</td>
                    <td>{{ totals[wallet.id] ?? '0' }}</td>
                    <td>{{ wallet.currency }}</td>
                    <td>
                        {% if is_granted('wallet_VIEW', wallet) %}
                        <a href="{{ path('wallet_view',{id: wallet.id}) }}" class="btn btn-sm btn-outline-primary">
                            Przejdź
                        </a>
                        {% endif %}
                        {% if is_granted('wallet_EDIT', wallet) %}
                        <a href="{{ path('edit_wallet',{id: wallet.id}) }}" class="btn btn-sm btn-outline-primary">
                            Edytuj
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <div class="alert alert-info">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}
{% endblock %}
