{% extends 'base.html.twig' %}

{% block title %}Portfel #{{ wallet.id }}{% endblock %}

{% block body %}

    <a href="{{ path('wallet_index') }}">Wróć do listy</a>

    {% if wallet is defined and wallet is not null %}
        <p>Szczegóły portfela: </p>
        <h1>{{ wallet.name }}</h1>
        <dl>
            <dt>Saldo</dt>
            <dd>{{ totals[wallet.id] ?? '0' }} {{ wallet.currency }}</dd>
        </dl>

        <hr>

        <h4>Lista Twoich transkacji</h4>
        <button><a href="{{ path('add_operation',{id: wallet.id}) }}" class="btn btn-sm btn-outline-primary">+ Dodaj transakcję</a></button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Kwota', 'operation.amount') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Data transakcji', 'operation.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Opis', 'operation.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Kategoria', 'operation.category') }}</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% if is_granted('wallet_VIEW', wallet) %}

                {% for item in pagination.items %}
                <tr>
                    <td>{{ item.amount }} {{ item.wallet.currency }}</td>
                    <td>{{ item.createdAt|date('d.m.Y H:i') }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.category ? item.category.name : ''}}</td>
                    <td>
                        <a href="{{ path('edit_operation', {'walletId': wallet.id, 'id': item.id}) }}" class="btn btn-sm btn-secondary">Edytuj</a>
{#                        <a href="{{ path('delete_operation', {'walletId': wallet.id, 'id': item.id}) }}" class="btn btn-sm btn-danger">Usuń</a>#}
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="4" class="text-center">Brak transakcji dla tego portfela.</td>
                </tr>
            {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <div class="alert alert-danger">Portfel nie został znaleziony.</div>
    {% endif %}
{% endblock %}
